{{- if not .Values.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "proton-bridge.secretName" . }}
  labels:
    {{- include "proton-bridge.labels" . | nindent 4 }}
type: Opaque
stringData:
  PROTON_BRIDGE_HOST: {{ .Values.bridge.host | quote }}
  PROTON_BRIDGE_SMTP_PORT: {{ .Values.bridge.smtpPort | quote }}
  PROTON_BRIDGE_IMAP_PORT: {{ .Values.bridge.imapPort | quote }}
  CONTAINER_SMTP_PORT: {{ .Values.container.smtpPort | quote }}
  CONTAINER_IMAP_PORT: {{ .Values.container.imapPort | quote }}
{{- end }}
