{{- $localBridgeHost := or (eq .Values.bridge.host "127.0.0.1") (eq .Values.bridge.host "localhost") (eq .Values.bridge.host "::1") -}}
{{- $bridgeSmtpPort := int .Values.bridge.smtpPort -}}
{{- $bridgeImapPort := int .Values.bridge.imapPort -}}
{{- $containerSmtpPort := int .Values.container.smtpPort -}}
{{- $containerImapPort := int .Values.container.imapPort -}}
{{- if and $localBridgeHost (eq $bridgeSmtpPort $containerSmtpPort) -}}
{{- $containerSmtpPort = add $bridgeSmtpPort 1 -}}
{{- end -}}
{{- if and $localBridgeHost (eq $bridgeImapPort $containerImapPort) -}}
{{- $containerImapPort = add $bridgeImapPort 1 -}}
{{- end -}}
{{- if not .Values.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "proton-bridge.secretName" . }}
  labels:
    {{- include "proton-bridge.labels" . | nindent 4 }}
type: Opaque
stringData:
  PROTON_BRIDGE_HOST: {{ .Values.bridge.host | quote }}
  PROTON_BRIDGE_SMTP_PORT: {{ $bridgeSmtpPort | quote }}
  PROTON_BRIDGE_IMAP_PORT: {{ $bridgeImapPort | quote }}
  CONTAINER_SMTP_PORT: {{ $containerSmtpPort | quote }}
  CONTAINER_IMAP_PORT: {{ $containerImapPort | quote }}
{{- end }}
