name: pr

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: jdx/mise-action@v2
        with:
          cache: true

      - name: Lint charts
        run: ./scripts/lint.sh
